<div id="<%= dom_id post %>">
  <div>
    <strong>Title:</strong>
    <%= post.title %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= post.description %>
  </div>

  <div>
    <strong>Thumbnail url:</strong>
    <%= post.thumbnail_url %>
  </div>

  <div>
    <strong>Video url:</strong>
    <%= post.video_url %>
  </div>

  <div>
    <strong>Pro:</strong>
    <%= post.pro %>
  </div>

</div>
